{% extends "base.html" %}

{% block content %}

    <h2>Task 4</h2>
    <div>
        Create page with form that allows to edit data, presented on the main page.
        <ul>
            <li>Add authentication to this page</li>
            <li>Add ability to upload, view and change photo</li>
        </ul>
    </div>
    <h2>Task 5</h2>
    <div>
        For birth date on the same page add calendar widget. Create your own django widget.
    </div>
    <br/>
    <br/>
    <form method="POST" enctype="multipart/form-data" class="post-form form-horizontal">{% csrf_token %}
        <fieldset>

            <!-- Form Name -->
            <legend>Редактирование данных</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">{{ form.name.label }}</label>
              <div class="col-md-4">
                {{ form.name }}
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="surname">{{ form.surname.label }}</label>
              <div class="col-md-4">
                 {{ form.surname }}
              </div>
            </div>
            <!-- Text date-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="surname">{{ form.birthdate.label }}</label>
              <div class="col-md-4">
                 {{ form.birthdate }}
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="bio">{{ form.bio.label }}</label>
              <div class="col-md-4">
                  {{ form.bio }}
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="phone">{{ form.phone.label }}</label>
              <div class="col-md-4">
                {{ form.phone }}
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="skype">{{ form.skype.label }}</label>
              <div class="col-md-4">
                {{ form.skype }}
              </div>
            </div>

            <!-- File Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="photo">{{ form.photo.label }}</label>
              <div class="col-md-4">
                  {{ form.photo }}
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton"></label>
              <div class="col-md-4">
                <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Отправить</button>
              </div>
            </div>

        </fieldset>
    </form>

{% endblock %}